.main-header {
    background-color: black;
    padding: 10px 0;
    height: 55px;
}

.logo {
    display: inline-block;
}

.main-header a {
    margin: auto 15px;
    font-size: 1.2em;
    color: white;
    text-align: center;
    vertical-align: bottom;
}

.main-header a:hover {
    text-decoration: underline;
}

.header-right {
    display: inline-block;
    float: right;
}

.header-profile {
    display: inline-block;
    float: right;
    /*position: relative;*/
    overflow: hidden;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: -3px;
}

.header-profile img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}